<div class="modal-header d-block">
    <h4 class="modal-title">Negative Field inspection
    </h4>
    <span class="text-muted">
        Do you want to confirm negative field inspection report?
  </span>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Select Reason *</label>
                <ng-select 
                    placeholder="Select any one"
                    [items]="selectValue"
                    [(ngModel)]="data"
                    name="data"
                    bindLabel="value"
                    bindValue="id"
                    [clearable]="false">
                </ng-select>
            </div>
        </div>
        <div class="col-12" *ngIf="data == 3">
            <div class="form-group">
                <label>Enter Reason *</label>
                <input type="text" placeholder="Enter Reason" class="form-control" name="reason"
                    [(ngModel)]="reason" autocomplete="off">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button"  class="btn btn-psb btn-secondary waves-effect" (click)="close(0)">Cancel</button>
    <button type="button"  class="btn btn-psb btn-psbpurple waves-effect" (click)="close(1)">Confirm </button>
</div>