// 
// breadcrumb.scss
//


// Breadcrumb item arrow
.breadcrumb-item {
  >a {
    color: $gray-700;
    font-size: 15px;
    font-weight: 400;
  }

  +.breadcrumb-item {
    &::before {
      font-family: "Material Design Icons";
    }
  }
}
