//
// dropdown.scss
//

.dropdown-menu {
  box-shadow: $box-shadow;
  animation-fill-mode: both;
  margin: 0;
  border: none;
  font-size: $font-size-base;
  z-index: 1000;
  .dropdown-item{
    &.logOut{
      color: #E02020;
    }
  }
  &.NPArrowBefore{
    top: 10px !important;
    @media screen and (max-width:640px) {
      transform:translate(-90px, 40px) !important
    }
    &:before {     
        content: "";
        position: absolute;
        opacity: 1;
        width: 14px;
        height: 14px;
        top: -12px;
        right: 5px;
        border-bottom: 10px solid #ffffff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
  }
  }
  
  // &:before {
  //   content: "";
  //   position: absolute;
  //   //font-family: "Material Design Icons";
  //   font-size: 9px;
  //   line-height: 0;
  //   background: #FFFFFF 0% 0% no-repeat padding-box;
  //   opacity: 1;
  //   width: 14px;
  //   height: 14px;
  //   transform: rotate(45deg);
  //   left: 2px;
  // }
  &.btn-drop{
    padding: 0;
    width: 100%;
  }
  .NP-drop_down{
    padding: 0;
    width: 92%;
  }
  /* dropdown View on icon start */
    &.NP_Drop_Hover{
    .dropdown-item{
      padding: .5rem 1.2rem;
      font-size: 16px;
      font-weight: 600;
      border-left: 2px solid transparent;
      em{
        margin-right: .5rem;
      }
      &:hover{
        background-color: #F7FBFF;
        color: var(--primaryColor);
        border-left: 2px solid var(--primaryColor);
      }
      @media only screen and (max-width: 1900px) and (min-width: 768px){
        font-size: 12px;
      }
    }
  }
  /* dropdown View on icon End */
  
}
.dropdown-item-NP{
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  // color: #6c757d;
  text-align: inherit;
  white-space: nowrap;
  // background-color: transparent; 
  border: 0;
  &:first-of-type{
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
  }
  &:last-of-type{
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
}
.dropdown-divider{
    border-top: 1px solid #dee2e6 !important;
}
// Dropdown Large (Custom)
.dropdown-lg {
  width: $dropdown-lg-width;
}
.dropdown-xl {
  width: 450px;
}
@include media-breakpoint-down(sm) {
  .dropdown-lg {
    width: 200px !important;
  }
  .dropdown-xl {
    width: $dropdown-lg-width;
  }
}

// Dropdown Mega Menu

.dropdown-mega {
  position: static !important;
}

.dropdown-megamenu {
  padding: 20px;
  left: 20px !important;
  right: 20px !important;
  background-image: url("/assets/images/megamenu-bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.megamenu-list {
  li {
    padding: 5px 20px;
    position: relative;

    a {
      color: $gray-700;

      &:hover {
        color: $primary;
      }
    }

    &:before {
      content: "\F130";
      position: absolute;
      left: 0;
      font-family: "Material Design Icons";
      font-size: 9px;
      line-height: 24px;
    }
  }
}
