// 
// tables.scss
//


//Table centered (Custom)
.table-centered {

  td,
  th {
    vertical-align: middle !important;
  }
}


// Custom table components (Custom)
.table {
  .table-user {
    img {
      height: 30px;
      width: 30px;
    }
  }
}

.action-icon {
  color: #6C757D;
  font-size: 16px;
  display: inline-block;
  padding: 0 4px; 
  .Mobile_Action{
    width: 100%;
  }
  &:hover {
    color: $gray-700;
  }
}
