<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topnav-menu Line_Height float-right mb-0" *ngIf="!isLoginUrl && !isChangePasswordRouterUrl">

    <li class="dropdown notification-list" ngbDropdown *ngIf="!isDashRouterUrl">
      <ng-container *ngIf="userRoleId == userRoleList.BRANCH_MANAGER.id || userRoleId == userRoleList.FIELD_INSPECTION_OFFICER.id">
        <a class="nav-link dropdown-toggle waves-effect waves-light NP-ChangeDash" href="javascript: void(0);"
          role="button" aria-haspopup="false" aria-expanded="false" ngbDropdownToggle id="ChangeDashbaord"
          *ngIf="userTypeId != 4 && userTypeId != 3">
          <img src="assets/images/Dashabord/Change-dashabord.svg" alt="Change dashabord" />
          <span class="ml-2">{{dashboardName ? (dashboardName) : 'Change Dashboard'}}</span>
          <span class="pro-user-name ml-1">
            <em class="mdi mdi-chevron-down"></em>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-md NP-drop_down"
          aria-labelledby="ChangeDashbaord" ngbDropdownMenu>
          <div id="notification-items" class="slimscroll noti-scroll" appSlimScroll>
            <!-- item-->
            <a *ngFor="let dashboard of dashboardBoxList" (click)="navigateOnSubmit(dashboard)"
              class="dropdown-item notify-item" ngbDropdownItem>
              <div class="notify-icon NP_NTI">
                <img [src]="'assets/images/Dashabord/ATM-Dash/'+ dashboard.imgPath" />
              </div>
              <p class="notify-details NP_NTD">{{ dashboard.displayName }}
                <!-- <small class="text-muted">{{ DashboardChange.RoleUserName }}</small> -->
              </p>
            </a>
          </div>
        </div>
      </ng-container>

    </li>

    <!-- <li class="d-none d-sm-block">
      <form class="app-search">
        <div class="app-search-box">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <button class="btn" type="submit">
                <em class="fe-search"></em>
              </button>
            </div>
          </div>
        </div>
      </form>
    </li> -->

    <!-- <li class="dropdown notification-list" ngbDropdown>
      <a class="nav-link dropdown-toggle  waves-effect waves-light" href="javascript: void(0);" role="button"
        aria-haspopup="false" aria-expanded="false" ngbDropdownToggle id="notificationDropdown">
        <em class="fe-bell noti-icon"></em>
        <span class="badge badge-danger rounded-circle noti-icon-badge">4</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg"
        aria-labelledby="notificationDropdown" ngbDropdownMenu>


        <div class="dropdown-item noti-title" ngbDropdownItem>
          <h5 class="m-0">
            <span class="float-right">
              <a href="javascript: void(0);" class="text-dark">
                <small>Clear All</small>
              </a>
            </span>Notification
          </h5>
        </div>

        <div id="notification-items" class="slimscroll noti-scroll" appSlimScroll>
          <a *ngFor="let notification of notificationItems;" href="{{ notification.redirectTo }}"
            class="dropdown-item notify-item" ngbDropdownItem>
            <div class="notify-icon bg-soft-{{ notification.bgColor }} text-{{ notification.bgColor }}">
              <em class="{{ notification.icon }}"></em>
            </div>
            <p class="notify-details">{{ notification.text }}
              <small class="text-muted">{{ notification.subText }}</small>
            </p>
          </a>
        </div>

        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
          View All
        </a>
      </div>
    </li> -->


    <li class="dropdown notification-list" ngbDropdown>
      <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" ngbDropdownToggle id="profileDropdown"
        href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false">
        <!-- <img src="assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle"> -->
        <span class="UserName_Profile_View">{{userDetails?.email ? (userDetails.email| shortName) : ''}}</span>
        <span class="pro-user-name ml-1">
          <em class="mdi mdi-chevron-down"></em>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right NPArrowBefore" aria-labelledby="profileDropdown" ngbDropdownMenu>
        <!-- profile-dropdown -->
        <div class="dropdown-header noti-title">
          <h6 class="text-overflow m-0">Signed in as</h6>
          <span>{{userDetails.email}}</span>
        </div>

        <!-- item-->
        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
          <em class="fe-user mr-1"></em>
          <span>{{userDetails.email}}</span>
        </a> -->

        <!-- item-->
        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
          <em class="fe-settings"></em>
          <span>Settings</span>
        </a> -->

        <!-- item-->
        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
          <em class="fe-lock"></em>
          <span>Lock Screen</span>
        </a> -->

        <div class="dropdown-divider"></div>

        <!-- item -->
        <a href="javascript:void(0);" class="dropdown-item logOut" (click)="logout()">
          <em class="fe-log-out mr-1"></em>
          <span>Logout</span>
        </a>
        <div *ngIf="false">
          <button (click)="changeLang('en')">English</button><br>
          <button (click)="changeLang('hn')">हिंदी</button>
        </div>
      </div>
    </li>


  </ul>


  <ul class="list-unstyled topnav-menu NP_LeftIconView topnav-menu-left m-0"
    *ngIf="!isLoginUrl && !isChangePasswordRouterUrl && !isDashRouterUrl">
    <li>
      <button class="button-menu-mobile waves-effect waves-light" (click)="toggleMobileMenu($event)">
        <em class="fe-menu"></em>
      </button>
    </li>

    <!-- <li class="dropdown d-none d-lg-block">
      <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript: void(0);" role="button"
        aria-haspopup="false" aria-expanded="false">
        <img src="assets/images/Dashabord/Change-dashabord.svg" alt="Change dashabord" /> Change Dahbaord
      </a>
    </li> -->
  </ul>
  <!-- LOGO -->
  <div class="logo-box">
    <a [routerLink]="['/dashboards/Dashboard']" class="logo text-center">
      <span class="logo-lg">
        <img src="https://prod-sidbi-public-image.s3.ap-south-1.amazonaws.com/tn/bank_logos/TN_New_banker_Logo.svg" alt="Tamlindau logo" height="40">
        <!-- assets/images/Dashabord/TN-Logos/Logo_Banker.svg -->
        <!-- <span class="logo-lg-text-light">Xeria</span> -->
      </span>
      <span class="logo-sm">
        <!-- <span class="logo-sm-text-dark">X</span> -->
        <img src="https://prod-sidbi-public-image.s3.ap-south-1.amazonaws.com/tn/bank_logos/TN_New_banker_Logo.svg" alt="Tamlindau logo" height="30">
      </span>
    </a>
  </div>
</div>
<!-- end Topbar -->