<div class="modal-header">
  <h4 class="modal-title">Download</h4>
  <a class="btn btn-outline-psbpurple" href="javascript: void(0)"><i class="fmdi fmdi-download mr-2"></i> Download All</a>
  <!-- <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button> -->
</div>
<div class="modal-body Modal-scroll">
  <div class="row m-0">
    <div class="col-md-12">
      <div class="Common-download background-row bt-1">
        <span>Details</span>
        <span>Action</span>
      </div>
      <div class="slimScroll-psb-cotent" appSlimScroll>
        <div class="Common-download">
          <span>CAM Report</span>
          <span><a href="javascript: void(0)"><i class="fmdi fmdi-download mr-2"></i>Download All</a></span>
        </div>
        <div class="Common-download">
          <span>Application Form</span>
          <span><a href="javascript: void(0)"><i class="fmdi fmdi-download mr-2"></i>Download All</a></span>
        </div>
        <div class="Common-download">
          <span>Bank Statements Analysis</span>
          <span><a href="javascript:void(0)"><i class="fmdi fmdi-download mr-2"></i>Download All</a></span>
        </div>
        <div class="Common-download">
          <span>ZIP - Details Uploaded By Borrower (GST, ITR & Bank Statements)</span>
          <span><a href="javascript:void(0)"><i class="fmdi fmdi-download mr-2"></i>Download All</a></span>
        </div>
        <div class="Common-download">
          <span>MCA Report</span>
          <span><a href="javascript:void(0)"><i class="fmdi fmdi-download mr-2"></i>Download All</a></span>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="modal-footer">
  <div class="btn-footer-g jc-FEnd">
    <a href="javascript: void(0)" class="btn btn-psb btn-secondary waves-effect">Cancel</a>
  </div>
</div>
