<footer class="footer">
  <div class="container-fluid">
    <div class="row align-items-center flex-direction-md">
      <div class="col-md-7">
        <div class="text-md-left footer-links d-sm-block">
          <!-- <a href="javascript:void(0);" routerLink=".">Privacy Policy</a>
          <a href="javascript:void(0);" routerLink=".">Terms & Conditions</a>
          <a href="javascript:void(0);" routerLink=".">Disclaimer</a> -->
          <a href="javascript:void(0);" class="Copyright-1024">Copyright @{{CurrentYears}} Industries Commissioner & Director of Industries & Commerce</a>
        </div>
        <div class="text-md-left footer-links d-sm-block">
          <a href="javascript:void(0);" class="Copyright-1024">Powered by Online PSB Loans Limited.</a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="text-md-right footer-links d-sm-block">
          <a href="javascript:void(0);">Need Help ?</a>
          <a href="tel:04142350050 "><img src="assets/images/Footer-img/Tel_phone.svg" alt="Phone" /> 04142350050 </a>
          <!-- <a  href="mailto:Bank.support@Tamil Nadu.in" class="mail-1024"><em class="fmdi fmdi-email"></em>
            Bank.support@Tamilnadu.in</a> -->
        </div>
      </div>
    </div>
  </div>
</footer>
