<div class="modal-header">
    <h4 class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <span>Are you sure you want to reset password for {{emailId}}?</span>
        </div>
            <div class="col-12">
            <span>After reseting {{emailId}} password will be set to default.</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-psb btn-secondary waves-effect" (click) = "cancelPopup()">Cancel</button>
    <button type="button"class="btn btn-psb btn-psbpurple waves-effect" (click) = "isUserResetPassword()"><em class="fmdi fmdi-refresh mr-1"></em> Reset Password</button>
</div>
