<div class="container-fluid">
  <app-page-title title="Lead Bank Managers" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row" (scroll)="onWindowScroll($event)">
    <div class="col-lg-12 parent">
      <div class="card-box" id="stick-headerN">
        <div class="filter-value-tab">
          <div class="filter-group">
            <a href="javascript:void(0);" class="btn btn-psbpurple" (click)="isCollapsed1 = !isCollapsed1">
              <i class="fmdi fmdi-filter-list mr-1"></i> Filter
            </a>
            <a *ngIf="dateRangeFromDate && dateRangeToDate" href="javascript:void(0);" class="btn btn-ar-text">
              {{selected}} <i class="fmdi fmdi-close"></i>

            </a>
            <!-- <a href="javascript:void(0);" class="btn btn-ar-text">
                      MSME Best Product <i class="fmdi fmdi-close"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-ar-text">
                      Working Capital <i class="fmdi fmdi-close"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-ar-text">
                      New <i class="fmdi fmdi-close"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-ar-text">
                      Gujarat <i class="fmdi fmdi-close"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-ar-text">
                      Ahmedabad <i class="fmdi fmdi-close"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-ar-text">
                      C.G. Road Branch (AVC13218 <i class="fmdi fmdi-close"></i>
                    </a> -->
          </div>
          <a href="javascript:void(0);" class="btn btn-outline-danger">Clear All Filterss <i
              class="fmdi fmdi-close"></i>
          </a>
        </div>
        <div class="collapse" id="collapseExample" [ngbCollapse]="!isCollapsed1">
          <div class="card-body mb-0 p-0">
            <div class="filter-from-reports">
              <div class="col-lg-3 float-left pl-r0">
                <div class="form-group">
                  <label>Date Range</label>
                  <!-- <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template> -->

                  <div class="datepicker-input">
                    <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                      [autoClose]="'outside'" (dateSelect)="onDateSelectionRange($event)" [displayMonths]="2"
                      [dayTemplate]="t" outsideDays="hidden" [startDate]="dateRangeFromDate!" tabindex="-1"
                      [value]="selected" placeholder="dd/mm/yyyy - dd/mm/yyyy" autocomplete="off">
                    <div class="input-group-append">
                      <span class="psb-input-group-text" id="basic-addon1" (click)="datepicker.toggle()">
                        <em class="mdi mdi-calendar"></em>
                      </span>
                    </div>
                    <ng-template #t let-date let-focused="focused">
                      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>

                  <!-- <ngb-datepicker #dp (select)="onDateSelection($event)"  [displayMonths]="2" [dayTemplate]="t"
                        outsideDays="hidden" [hidden]="hidden">
                      </ngb-datepicker> -->
                </div>
              </div>
              <!-- <div class="col-lg-3 float-left">
                    <div class="form-group">
                      <label>Product Name</label>
                      <input type="text" placeholder="Enter Product Name" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-3 float-left">
                    <div class="form-group">
                      <label>Loan Type</label>
                      <ng-select placeholder="Select" class="" [items]="selectValue">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-lg-3 float-left">
                    <div class="form-group">
                      <label>Application Type</label>
                      <ng-select placeholder="Select" [items]="selectValue">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-lg-3 float-left pl-r0">
                    <div class="form-group">
                      <label>State</label>
                      <input type="text" placeholder="Enter State" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-3 float-left">
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" placeholder="Enter City" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-3 float-left">
                    <div class="form-group">
                      <label>Branch</label>
                      <input type="text" placeholder="Enter Branch" class="form-control">
                    </div>
                  </div> -->
            </div>
            <div class="btn-colleps-footer">
              <div class="text-right d-print-none">
                <a href="javascript:vloid(0)" class="btn btn-psb btn-secondary"
                  (click)="isCollapsed1 = !isCollapsed1">Cancel</a>
                <a href="javascript: void(0)" class="btn btn-psb btn-psbpurple ml-2"
                  (click)="isCollapsed1 = !isCollapsed1; isFilterApplied = true;">Apply Filter <i
                    class="fmdi fmdi-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-box">
        <div class="Main-heading-dual-Cont Mobile_heading_btn_NP Single_btn_row p-0">
          <div class="text-heading-cards">
            <h4 class="main-text-heading">Lead Bank Managers</h4>
            <span class="text-muted">Create Lead Bank Managers</span>
          </div>

          <div class="Btn-Drop_Down-dual-Cont">
            <!-- <div ngbDropdown class="mobile-dropdown mr-3">
                  <a href="javascript:void(0);" class="btn btn-psb btn-outline-psbpurple"><i
                    class="fmdi fmdi-download mr-2"></i>Download All</a>
                  <div class="dropdown-menu btn-drop" ngbDropdownMenu>
                    <a class="dropdown-item-NP btn-psb btn-outline-psbpurple" href="javascript: void(0)">in .XLS format</a>
                    <a class="dropdown-item-NP btn-psb btn-outline-psbpurple" href="javascript: void(0)">in .XLSX format</a>
                  </div>
                </div> -->

            <div ngbDropdown class="mobile-dropdown">
              <a href="javascript: void(0)" class="btn btn-psb btn-psbpurple"><i
                  class="fmdi fmdi-accounts-add mr-2"></i>Add User</a>
            </div>
          </div>
        </div>
        <!-- end col-->
      </div>


      <div class="card-box">
        <div class="Main-heading-dual-Cont Mobile_heading_btn_NP">
          <div class="text-heading-cards">
            <h4 class="main-text-heading">Lead Bank Managers Details (4 Users)</h4>
            <span class="text-muted">User data is pending for below mention admin</span>
          </div>
          <!-- <div class="Btn-Drop_Down-dual-Cont">
              <a href="javascript:void(0);" class="btn btn-psb btn-outline-psbpurple"><i
                  class="fmdi fmdi-download mr-2"></i>Download User</a>
  
              <a href="javascript:void(0);" class="btn btn-psb btn-outline-psbpurple" *ngIf="tab == 2 || tab == 4"><i
                        class="fmdi fmdi-link mr-2"></i>Send link to Borrower</a>
            </div> -->
        </div>

        <!-- table Report and Filter data -->
        <div class="table-responsive">
          <table class="CommonTable_NP NP_Four_Column Mobile_table_View_NP">
            <!--Common-ps-Subsidy-NP  Comon-nine-dataTSV BM_FIO_Table  [ngClass]="tab == 2 ? 'Common-ps-Subsidy-NP':'Common-ps-SS-NP'"-->
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Name</th>
                <th>Email ID</th>
                <th>Mobile no.</th>
                <th>Status</th>
                <th class="NP_Action">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Filter TR Cont Start -->
              <tr class="Mobile_View_Filter_Hide_NP">
                <td>

                  <input type="text" class="form-control">
                </td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td>
                  <input type="text" class="form-control">
                </td>
                <td>
                  <input type="text" class="form-control">
                </td>
                <td class="NP_Action">
                  &nbsp;
                </td>

              </tr>
              <!-- Filter TR Cont End -->
              <tr>
                <td data-label="Sr. No.">1</td>
                <td data-label="Name">Simonsh Private Limited</td>
                <td data-label="Email ID">nikul123@gmail.com</td>
                <td data-label="Mobile no.">7567621488</td>
                <td data-label="Status">Active</td>
                <td data-label="Action" class="NP_Action">
                  <div class="Mobile_Action">
                    <a href="javascript:void(0);" class="action-icon"><em class="fmdi fmdi-eye" placement="top"
                        ngbTooltip="View Details"></em></a>
                    <a href="javascript:void(0);" class="action-icon"><em class="fmdi fmdi-lock" placement="top"
                        ngbTooltip="Lock Details"></em></a>
                    <a href="javascript:void(0);" class="action-icon"><em class="fmdi fmdi-edit" placement="top"
                        ngbTooltip="Edit Details"></em></a>

                  </div>
                </td>

              </tr>
              <tr>
                <td data-label="Sr. No.">2</td>
                <td data-label="Name">Simonsh Private Limited</td>
                <td data-label="Email ID">nikul123@gmail.com</td>
                <td data-label="Mobile no.">7567621488</td>
                <td data-label="Status">Active</td>
                <td data-label="Action" class="NP_Action">
                  <div class="Mobile_Action">
                    <a href="javascript:void(0);" class="action-icon"><em class="fmdi fmdi-eye" placement="top"
                        ngbTooltip="View Details"></em></a>
                    <a href="javascript:void(0);" class="action-icon"><em class="fmdi fmdi-lock" placement="top"
                        ngbTooltip="Lock Details"></em></a>
                    <a href="javascript:void(0);" class="action-icon"><em class="fmdi fmdi-edit" placement="top"
                        ngbTooltip="Edit Details"></em></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row pagination-table Mobile_Pagination">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
              Showing
              {{((pageSize*(page-1))+1)}} to
              {{(pageSize*page) > (totalCount) ? (totalCount) : (pageSize*page)}} of
              {{totalCount}}
              entries
            </div>
          </div>
          <div class="dataTables_length" id="tickets-table_length"><label class="d-inline-flex align-items-center">Show
              <ng-select name="tickets-table_length" class="hide-clear" aria-controls="tickets-table" name="pageSize"
                [clearable]="false" [(ngModel)]="pageSize" [items]="PageSelectNumber">
              </ng-select> entries</label></div>
          <!-- Pagination -->
          <div class="col-sm-12 col-md-5">
            <div class="text-md-right float-md-right pagination-rounded">
              <ngb-pagination [collectionSize]="totalCount" [maxSize]="3" [(page)]="page" [rotate]="true" [boundaryLinks]="true"  [pageSize]="pageSize"
                (pageChange)="onPageChange($event)">
              </ngb-pagination>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
      </div>

    </div>
  </div>

</div>
