<div class="modal-header d-block">
    <h4 class="modal-title">Enable Transfer</h4>
</div>
<div class="modal-body">

    <span class="text-muted">
        Are you sure you want to enable transfer of appl;icans to TAICO and DIC Field Inspection Officers? In this case, TAICO and DIC Field Inspection Officers will no longer be assigned as Subsidiary FIO.
    </span>
</div>
<div class="modal-footer">
    <button type="button"  class="btn btn-psb btn-secondary waves-effect" (click)="close(-1)">Cancel</button>
    <button type="button"  class="btn btn-psb btn-psbpurple waves-effect" (click)="close(1)">Comfirm </button>
</div>