<div class="modal-header">
  <h4 class="modal-title">Delete product permanently ?</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <span>“Contactless Loan GST based invoice financing” will be deleted permanently you will not be able
        retrieve it back once deleted. Are you sure you want to delete this permanently?</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a href="javascript: void(0)" class="btn btn-psb btn-secondary waves-effect"(click)="closeModal()">Cancel</a>
  <a href="javascript: void(0)" class="btn btn-psb btn-danger"(click)="delete()"><em class="mdi mdi-delete ml-2"></em> Delete
    Permanently</a>
</div>
