<div class="modal-header">
  <h4 class="modal-title">Bulk upload instructions
  </h4>
</div>
<div class="modal-body Read-instructions-Cont">
  <div class="row">
    <div class="col-12">
      <p>It is hereby declared that the banker information uploaded by the Bank is of its Existing banker whom the
        Bank is onboarding on the Platform. </p>
    
      <p>The Limits specified are those sanctioned / renewed by the Bank basis checking their financials, bureau,
        bank statements etc. at branch level.</p>
  
      <p>These including those that have been sanctioned / renewed recently or will be sanctioned / renewed in near
        future.</p>
   
      <p>The Customer will be able to proceed with an application (Working Capital or Term Loan) from the digital
        interface - link will be provided in the mail which is sent with above details.</p>
   
      <p>Customer User Activation shall happen in 24 Working Hours from the time of upload of the File on the
        Interface.</p>
      <div class="col-12">
        <p>1. <span>Following fields are mandatory to be filled for User Onboarding in correct format: </span></p>
        <p>2. <span>Sanction and Renewal Amount is needed in absolute values only. Avoid using amounts in Crores/Lacs.</span></p>
        <p>3. <span>Mobile Number should be entered in correct format, i.e. only 10 digits to be entered. (Do not add +91 or
          0)</span></p>
        <p>4. <span>Avoid repetition of Customer Data (PAN, Mobile Number and E-Mail Address) across different sheets.</span></p>
        <p>5. <span>Avoid providing E-Mail Address/Mobile Number of branch users in Customer Onboarding.</span> </p>
        <p>6.<span>Provide only 1 Mobile Number per Customer. Avoid using Land Line Numbers.</span> </p>
        <p>7.<span>Enter the data in the draft template provided.</span></p>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <!-- <a href="javascript: void(0)" class="btn btn-psb btn-secondary waves-effect" (click)="activeModal.dismiss('cancel')">Cancel</a> -->
  <a href="javascript: void(0)" class="btn btn-psb btn-psbpurple waves-effect" (click)="activeModal.close('close')">Proceed </a>
</div>
