<div class="modal-header">
    <h4 class="modal-title">Reject</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span>Are you sure you want to reject ?</span>
      </div>
      <!-- <div class="col-md-12">
        <span>Are you sure you want to send back ?</span>
      </div>
      <div class="col-md-12">
        <span>Are you sure you want to Approve ?</span>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript: void(0)" class="btn btn-psb btn-secondary waves-effect">Cancel</a>
    <a href="javascript: void(0)" class="btn btn-psb btn-danger"><em class="fmdi fmdi-close"></em>Reject</a>
    <!-- <a href="javascript: void(0)" class="btn btn-psb btn-warning"><em class="fmdi fmdi-arrow-left-bottom"></em>Send Back</a>
    <a href="javascript: void(0)" class="btn btn-psb btn-danger"><em class="fmdi fmdi-check-all"></em>Approve</a> -->
  </div>
  