<div class="modal-header">
    <h4 class="modal-title">Positive Field inspection
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <span>Do you want to confirm positive field inspection report ?</span>
            <!-- <span>Once you click on confirm button the proposal will be sent to Branch Manager.</span>    -->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-psb btn-secondary waves-effect" (click)="activeModal.close(0)">Cancel</button>
    <button type="button"class="btn btn-psb btn-psbpurple waves-effect" (click)="activeModal.close(1)">Confirm </button>
</div>
