<div class="account-pages mt-5 mb-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <div class="card-box">
            <div class="E_sign_Completed_NP">
                <div class="E_sign_Completed_img">
                    <img src="." alt="E-sign Completed">
                </div>
                <div class="E_sign_Completed_text">
                    <h4>Completed <strong>E-sign</strong> <img src="assets/images/check_circle-green.svg" alt="Completed"/> </h4>
                    <span>The E-sign process has been completed. You can proceed</span>
                    <button type="button" class="btn btn-psb btn-psbpurple">
                        Done
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
