<div class="container-fluid">
  <div class="icon-title-heading">
    <i class="fmdi fmdi-arrow-left"></i>
    <app-page-title title="Field inspection form" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  </div>

  <form [formGroup]="fieldInspectionForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12">
              <div class="Main-heading-dual-Cont">
                <div class="text-heading-cards">
                  <h4 class="main-text-heading">Field Details</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 p-0">
              <div class="col-lg-3 float-left">
                <div class="form-group">
                  <label>Name of Unit</label>
                  <input type="text" placeholder="Enter Bank Name" class="form-control" formControlName="firmName">
                </div>
              </div>
              <div class="col-lg-3 float-left">
                <div class="form-group">
                  <label>Constitution</label>
                  <input type="text" placeholder="Enter Constitution" class="form-control" formControlName="constitution">
                </div>
              </div>
              <div class="col-xl-3 float-left">
                <div class="form-group">
                  <label>GST No.</label>
                  <input type="text" placeholder="Enter GST No." class="form-control"  formControlName="gstNo">
                </div>
              </div>
  
              <div class="col-xl-3 float-left">
                <div class="form-group">
                  <label>Mobile No. *</label>
                  <input type="number" placeholder="Enter Mobile No" class="form-control" formControlName="mobile">
                  <app-validation-messages [control]="fieldInspectionForm.controls.mobile">
                  </app-validation-messages>
                </div>
              </div>
  
              <div class="col-xl-6 float-left">
                <div class="form-group">
                  <label>Email Id *</label>
                  <input type="text" placeholder="Enter Email Id" class="form-control" formControlName="email">
                  <app-validation-messages [control]="fieldInspectionForm.controls.email">
                  </app-validation-messages>
                </div>
              </div>
              <div class="col-xl-6 float-left">
                  <div class="form-group">
                    <label>Name of Person</label>
                    <input type="text" placeholder="Enter Name of Person" class="form-control" formControlName="nameOfPerson" appInputRestriction [regexType]="2" [isNgModel]="true" [ngModel]="fieldInspectionForm.controls.nameOfPerson">
                    <app-validation-messages [control]="fieldInspectionForm.controls.nameOfPerson">
                    </app-validation-messages>
                  </div>
                  <!-- (keypress)="keyPressEvent($event,2)" -->
                </div>
                <div class="col-xl-6 float-left">
                  <div class="form-group">
                    <label>Business Address</label>
                    <input type="text" placeholder="Enter Business Address" class="form-control" formControlName="businessAddress">
                    <app-validation-messages [control]="fieldInspectionForm.controls.businessAddress">
                    </app-validation-messages>
                  </div>
                </div>
                <div class="col-xl-6 float-left">
                  <div class="form-group">
                    <label>Residence address</label>
                    <input type="text" placeholder="Enter Residence address" class="form-control" formControlName="residenceAddress">
                    <app-validation-messages [control]="fieldInspectionForm.controls.residenceAddress">
                    </app-validation-messages>
                  </div>
                </div>
                <div class="col-xl-12 float-left">
                  <div class="form-group">
                    <label>Business description</label>
                    <input type="text" placeholder="Enter Business Description" class="form-control" formControlName="businessDescription">
                    <app-validation-messages [control]="fieldInspectionForm.controls.businessDescription">
                    </app-validation-messages>
                  </div>
                </div>
                <div class="col-xl-12 float-left">
                  <div class="form-group">
                    <label>Remarks</label>
                    <input type="text" placeholder="Remarks" class="form-control" formControlName="remark">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  


 <div class="row">
    <div class="col-lg-12 p-0 parent">
      <div class="card-box btn-tabs-Fix-NP Mobile_BTN_NP">
        <div class="nav-bordered">
          <h4 class="m-0 mb-2 d-print-none">Actions.</h4>
          <span>Select from following</span>
        </div>
          <div class="text-right d-print-none">
            <a href="javascript:void(0)" class="btn btn-psb btn-psblightgray">Cancel</a>
            <a href="javascript: void(0)" class="btn btn-psb btn-psbpurple" routerLink="/TIIC/BankPartner-List">+
              Add Bank Partner</a>
          </div>
      </div>
    </div> <!-- End Bordered Tabs -->
  </div>  

</div>
